@model EF_MVC_Project.Models.Phong

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Phong</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MaP" class="control-label"></label>
                <input asp-for="MaP" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="SoPhong" class="control-label"></label>
                <input asp-for="SoPhong" class="form-control" />
                <span asp-validation-for="SoPhong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HinhAnh" class="control-label"></label>
                <input asp-for="HinhAnh" class="form-control" />
                <span asp-validation-for="HinhAnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThaiPhong" class="control-label"></label>
                <select name="TrangThaiPhong" class="form-control">
                    @if (Model.TrangThaiPhong == 1)
                    {
                        <option value="1" selected>Đang Rảnh</option>
                        <option value="2">Đang Bận</option>
                        <option value="0">Đã Đặt</option>

                    }
                    else if (Model.TrangThaiPhong == 2)
                    {
                        <option value="1">Đang Rảnh</option>
                        <option value="2" selected>Đang Bận</option>
                        <option value="0">Đã Đặt</option>
                    }
                    else
                    {
                        <option value="1">Đang Rảnh</option>
                        <option value="2">Đang Bận</option>
                        <option value="0" selected>Đã Đặt</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="LoaiGiuong" class="control-label"></label>
                <select name="LoaiGiuong" class="form-control">
                    @if (Model.LoaiGiuong == true)
                    {
                        <option value="true" selected>Giường Đơn</option>
                        <option value="false">Giường Đôi</option>
                    }
                    else
                    {
                        <option value="true">Giường Đơn</option>
                        <option value="false" selected>Giường Đôi</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Loại</label>
                <select asp-for="MaLp" class="form-control" asp-items="ViewBag.MaLp"></select>
                <span asp-validation-for="MaLp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tình Trạng</label>
                <select asp-for="MaTvp" class="form-control" asp-items="ViewBag.MaTvp"></select>
                <span asp-validation-for="MaTvp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

